@model Model.DataPelangganModel.DataPelanggan

@{
    ViewData["Title"] = "Create Pelanggan";
}

<h1>Create New Customer</h1>

<form method="post" action="/Home/CreatedCustomer" onsubmit="return confirm('Tambahkan customer baru?')">

    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="nama" style="width: 100px; text-align: left; margin-right: 10px;">Nama</label>
            <input type="text" id="nama" name="Pelanggan.Nama" value="@Model?.Nama" style="width: 300px;" />
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="kelamin" style="width: 100px; text-align: left; margin-right: 10px;">Jenis Kelamin</label>
            <div id="kelamin">
                <input type="radio" id="laki-laki" name="Pelanggan.Kelamin" value="true" @@(Model !=null && Model.Kelamin ? "checked" : "" ) />
                <label for="laki-laki">Laki-laki</label>
                <input type="radio" id="perempuan" name="Pelanggan.Kelamin" value="false" @@(Model !=null && !Model.Kelamin ? "checked" : "" ) />
                <label for="perempuan">Perempuan</label>
            </div>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="saldo" style="width: 100px; text-align: left; margin-right: 10px;">Masukan Jumlah Saldo</label>
            <input type="number" id="saldo" name="Pelanggan.Saldo" value="@Model?.Saldo" style="width: 300px;" />
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <button type="submit" style="width: 150px; height: 40px; margin-right: 10px;">Create</button>
            <button type="button" onclick="location.href='@Url.Action("Customer","Home")'" style="width: 150px; height: 40px;">Cancel</button>
        </div>
    </div>

</form>


